
@font-face {
    font-family: 'pacifico';
    src: url("#{resource['app/fonts/pacifico-webfont.eot']}");
    src: url("#{resource['app/fonts/pacifico-webfont.eot?#iefix']}") format('embedded-opentype'),
         url("#{resource['app/fonts/pacifico-webfont.woff2']}") format('woff2'),
         url("#{resource['app/fonts/pacifico-webfont.woff']}") format('woff'),
         url("#{resource['app/fonts/pacifico-webfont.ttf']}") format('truetype'),
         url("#{resource['app/fonts/pacifico-webfont.svg#pacifico']}") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreams';
    src: url("#{resource['app/fonts/CaviarDreams-webfont.eot']}");
    src: url("#{resource['app/fonts/CaviarDreams-webfont.eot?#iefix']}") format('embedded-opentype'),
         url("#{resource['app/fonts/CaviarDreams-webfont.woff']}") format('woff'),
         url("#{resource['app/fonts/CaviarDreams-webfont.ttf']}") format('truetype'),
         url("#{resource['app/fonts/CaviarDreams-webfont.svg#caviar_dreams']}") format('svg');
    font-weight: normal;
    font-style: normal;

}

h1,
h2,
h3 {
    font-family: 'pacifico';
}

span.navbar-brand {
    font-family: 'caviar_dreams';
}

ul.messages {
    padding-left: 0;
    list-style-type: none;
}

ul.messages li.error {
    color: red;
}

ul.messages li.info {
    color: green;
}

